<div class="font-zen lg:justify-center">
<h2 class="text-2xl font-mdedium text-left"><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-2" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field p-2">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text-sm input input-bordered p-px w-2/3" %>
  </div>

  <div class="field p-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-sm input input-bordered p-px w-2/3" %>
  </div>

  <div class="field p-2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "text-sm input input-bordered p-px w-2/3" %>
  </div>

  <div class="field p-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-sm input input-bordered p-px w-2/3" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: "btn bg-red-700 text-white m-2"%>
  </div>
<% end %>

  <%= link_to image_tag('google_login.png', alt: 'Googleでログイン', class: 'm-2'), "/users/auth/google_oauth2" %>
  <%= link_to "Sign in with LINE", user_line_omniauth_authorize_path, class: "inline-block m-1 w-50 bg-green-500 hover:bg-green-600 text-white font-bold my-4 py-2 px-4 rounded-lg shadow-lg" %>


</div>
