<%= form_with model: [current_user, @diary], local: true, data: { turbo: false } do |form| %>
  <% if @diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diary.errors.count, "error") %> prohibited this diary from being saved:</h2>
      <ul>
        <% @diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="moods">
    <%= form.label :mood_id, t('.mood') %><br>
        <% Mood.all.each do |mood| %>
          <%= form.radio_button :mood_id, mood.id, id: "mood_#{mood.id}" %>
          <%= form.label "mood_#{mood.id}", mood.name, style: "margin-right: 20px;" %>
        <% end %>
  </div>

  <div class="field">
    <%= form.label :title,  t('.title') %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :memo, t('.memo') %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :date, t('.date') %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit diary.new_record? ? t('helpers.submit.diary.create') : t('helpers.submit.diary.update') %>
  </div>
<% end %>
