<% if @diaries.any? %>
  <% latest_diary = @diaries.order(date: :desc).first %>
    <p class="font-zen m-2 font-medium">
      <strong><%= latest_diary.date.strftime("%Y年%m月%d日") %>の日記</strong>
    </p>
    <div class="flex items-center justify-center w-28 h-28 bg-white rounded-full text-center my-6">
    <p class="<%= color_class(latest_diary.mood&.color) %> leading-tight font-yuji text-5xl">
      <%= link_to latest_diary.title, user_diary_path(current_user, latest_diary) %>
    </p>
    </div>
<% else %>
  <p>まだ日記がありません。</p>
<% end %>

<%= month_calendar(events: @diaries, attribute: :date) do |date, diaries_for_day| %>
  <div class="day">
    <!-- 日付を表示 -->
    <span class="date"><%= date.day %></span>

    <!-- 日付に関連する日記を表示 -->
    <% diaries_for_day.each do |diary| %>
      <%= link_to diary.title, user_diary_path(current_user, diary),
        class: "calendar-link items-center justify-center text-center hover:bg-slate-100 #{color_class(diary.mood&.color)} wr-2 text-xl font-yuji"%>
    <% end %>
  </div>
<% end %>
