<div class="flex flex-col items-center justify-start min-h-screen">
  <h1 class="font-medium text-gray-500 text-2xl text-center p-2 m-4">
    <%= t('.title') %>
  </h1>

  <!-- 日付とボタンを横並びに配置 -->
  <div class="flex space-x-4 items-center justify-between w-full max-w-3xl p-2 mb-4">
    <div class="m-5 font-sm font-zen text-2xl">
      <%= @diary.date %>
    </div>
      <div class="flex space-x-4">
        <!-- 編集ボタン -->
        <%= link_to edit_user_diary_path(current_user, @diary), class: "bg-stone-400 hover:bg-stone-500 text-white font-medium text-sm p-6 rounded-full focus:outline-none focus:shadow-outline" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" style="width: 20px; height: 20px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
        </svg>
      <% end %>

        <!-- 削除ボタン -->
        <%= link_to user_diary_path(current_user, @diary), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "bg-red-500 hover:bg-red-600 text-white font-medium text-sm p-6 rounded-full focus:outline-none focus:shadow-outline" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" style="width: 20px; height: 20px;">
        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
        </svg>
        <% end %>
      </div>
    </div>

  <!-- タイトルの円形コンテナ -->
  <div class="flex items-center justify-center bg-white rounded-full text-center" style="width: 13rem; height: 13rem; aspect-ratio: 1/1;">
    <p class="<%= color_class(@diary.mood&.color) %> font-yuji text-center" style="font-size: 8rem; line-height: 1;">
      <%= @diary.title %>
    </p>
  </div>

  <div style="height: 1rem;"></div>

  <div class="flex">
    <p class="<%= color_class(@diary.mood&.color) %> leading-tight font-zen text-4xl py-4 my-4 w-full" style="box-sizing: border-box; display: inline-block;">
      <%= @diary.memo %>
    </p>
  </div>
</div>
