<h1><%= t('.title') %></h1>

<p>
  <strong>今日の一文字:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @diary.memo %>
</p>

<p>
  <strong>日付:</strong>
  <%= @diary.date %>
</p>

<%= link_to t('.edit'), edit_user_diary_path(current_user, @diary) %> |
<%= link_to t('.delete'), user_diary_path(current_user, @diary), method: :delete, data: { confirm: '本当に削除しますか？' } %>
