<div class="flex flex-col items-center justify-start min-h-screen">
  <div class="flex space-x-4 items-center justify-between w-full max-w-3xl pl-2 pr-4 pl-4 mb-4">
    <div class="m-5 font-sm font-zen text-xl">
      <%= @diary.date.strftime("%m月%d日") %>の日記
    </div>
      <div class="flex space-x-4">
        <%= link_to t('.edit'), edit_user_diary_path(current_user, @diary), class: "bg-stone-400 hover:bg-stone-300 text-white font-medium text-sm p-3 rounded-full focus:outline-none focus:shadow-outline" %>
        <%= link_to t('.delete'), user_diary_path(current_user, @diary), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "bg-stone-400 hover:bg-stone-300 text-white font-medium text-sm p-3 rounded-full focus:outline-none focus:shadow-outline" %>
      </div>
    </div>

  <div class="flex items-center justify-center bg-white rounded-full text-center" style="width: 13rem; height: 13rem; aspect-ratio: 1/1;">
    <p class="<%= color_class(@diary.mood&.color) %> font-yuji text-center" style="font-size: 8rem; line-height: 1;">
      <%= @diary.title %>
    </p>
  </div>

  <div style="height: 1rem;"></div>

  <div class="flex">
    <p class="<%= color_class(@diary.mood&.color) %> leading-tight font-zen text-4xl py-4 my-4 w-full" style="box-sizing: border-box; display: inline-block;">
      <%= @diary.memo %>
    </p>
  </div>

  <% twitter_share_url = "https://twitter.com/share?url=#{CGI.escape(root_url)}&text=#{CGI.escape("今日の私の一文字は#{@diary.title}'です
  今日の一日を漢字一文字で。")}" %>


  <%= link_to twitter_share_url, target: '_blank', class: "btn bg-stone-950 text-white", rel: "noopener noreferrer", title: "Xでシェア" do %>
    <i class="fa-brands fa-square-x-twitter fa-2xl"></i> Xでシェア
  <% end %>
</div>
