<h1>日記詳細</h1>

<p>
  <strong>今日の一文字:</strong>
  <%= @diary.content %>
</p>

<p>
  <strong>一言メモ:</strong>
  <%= @diary.memo %>
</p>

<p>
  <strong>日付:</strong>
  <%= @diary.date %>
</p>

<%= link_to '編集', edit_user_diary_path(current_user, @diary) %> |
<%= link_to '削除', user_diary_path(current_user, @diary), method: :delete, data: { confirm: '本当に削除しますか？' } %>
