<h1>My Application</h1>
<h2>Test Image Display</h2>
<%= image_tag 'blue_image.png', alt: "Blue Image" %>
<%= image_tag 'gray_image.png', alt: "Gray Image" %>
<%= image_tag 'orange_image.png', alt: "Orange Image" %>
<%= image_tag 'red_image.png', alt: "Red Image" %>
<%= image_tag 'yellow_image.png', alt: "Yellow Image" %>
