<div class="font-zen">
<h2 class="text-2xl font-mdedium text-left"><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-2" }) do |f| %>
  <div class="form-control">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-2/3" %>
  </div>

  <div class="form-control">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-2/3" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
<% end %>


  <div class="actions">
    <%= f.submit t('.sign_in'), class: "btn w-32 sm:w-48 lg:w-64 bg-green-900 text-white m-1 " %>
  </div>
<% end %>

    <%= link_to image_tag('google_login.png', alt: 'Googleでログイン', class: 'm-2'), "/users/auth/google_oauth2", class: "inline-block" %>


<%#
<div class="text-left mt-4 p-1">
  <%= render "devise/shared/links"
</div>
%>

</div>
